{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modification de l'utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-3">Formulaire de modification des informations de l'utilisateur</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-3">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
		</div>
	{% endblock %}


